
<ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link" href="/">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/viz">Viz</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"
           onclick="document.getElementById('menu-logout-form').submit()">Logout</a>
        <form id="menu-logout-form" class="" action="/user/logout" method="post" hidden></form>
    </li>
</ul>