<!DOCTYPE html>
<html>
<head>
    <title>Dashboard - <%= username %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous" type="text/javascript"></script>

    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

    <link href="/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" type="text/css">

    <link href="/stylesheets/dashboard.css" rel="stylesheet" type="text/css">

    <!-- Mapbox -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.css' rel='stylesheet'/>
</head>
<body>

<form id="mood-entry-form">
    <textarea name="mood" class="form-control" id="mood-entry-input" style="display: none"
              form="mood-entry-form"></textarea>
    <button id="happy" type="submit" class="em em-blush" onclick="updateMood(this.id)"></button>
    <button id="crying" type="submit" class="em em-cry" onclick="updateMood(this.id)"></button>
    <button id="angry" type="submit" class="em em-angry" onclick="updateMood(this.id)"></button>
    <button id="disappointed" type="submit" class="em em-disappointed" onclick="updateMood(this.id)"></button>
    <button id="expressionless" type="submit" class="em em-expressionless" onclick="updateMood(this.id)"></button>
    <button id="astonished" type="submit" class="em em-astonished" onclick="updateMood(this.id)"></button>
</form>

<% include partials/nav.ejs %>

<div id='dashboard-map'></div>
<script>

    let map;

    // Get current position, then initialize map
    navigator.geolocation.getCurrentPosition((position) => {
        mapboxgl.accessToken = 'pk.eyJ1Ijoic2VudGllbnRzYWlsb3IiLCJhIjoiY2o5MjQ0dGhqM2V1cjJ3cDZwbjB2YWtlaSJ9.H7_wVqAUVOu8bJYmwc1rtg';
        map = new mapboxgl.Map({
            container: 'dashboard-map',
            style: 'mapbox://styles/mapbox/light-v9',
            zoom: 13,
            center: [position.coords.longitude, position.coords.latitude]
        });

        map.on('load', () => {

            map.addSource("journals", {
                type: 'geojson',
                data: '/journal/geoJSONEntries'
            })

            map.addLayer({
                'id': 'journals',
                'type': 'circle',
                'source': 'journals',
                'paint': {
                    'circle-color': '#80bdfd',
                    // make circles larger as the user zooms from z12 to z22
                    'circle-radius': {
                        'base': 4,
                        'stops': [
                            [12, 3.5],
                            [20, 3]
                        ]
                    },
                    'circle-opacity': 0.75
                }
            });

            map.on('click', 'journals', function (e) {
                new mapboxgl.Popup()
                    .setLngLat(e.features[0].geometry.coordinates)
                    .setHTML(e.features[0].properties.journalEntry)
                    .addTo(map);
            });

            // Change the cursor to a pointer when the mouse is over the places layer.
            map.on('mouseenter', 'journals', function () {
                map.getCanvas().style.cursor = 'pointer';
            });

            // Change it back to a pointer when it leaves.
            map.on('mouseleave', 'journals', function () {
                map.getCanvas().style.cursor = '';
            });

        });
    }, (err) => {
        // Error handling
        console.log(err);
    }, {
        "maximumAge": 10 * 1000
    })


</script>


<i id="map-toggle-down" class="fa fa-caret-down fa-2x map-toggle"></i>
<i id="map-toggle-up" class="fa fa-caret-up fa-2x map-toggle" style="display: none;"></i>


<form id="journal-entry-form">
    <div class="form-group">
        <label class="sr-only" for="journal-entry-input">Journal</label>
        <textarea name="journalEntry" class="form-control" id="journal-entry-input" form="journal-entry-form"
                  placeholder="Dear Journal..." required></textarea>
    </div>
    <button type="submit" id="journal-submit-button" class=""><i class="fa fa-paper-plane-o fa-lg"></i></button>
</form>

<div id="journal-search-bar-container">
    <form id="journal-search-bar" class="form-inline">
        <div class="form-group">
            <label for="journal-search-text" class="sr-only">Search</label>
            <input type="text" name="search-text" id="journal-search-text" class="form-control journal-search-input">
        </div>

        <div class="form-group">
            <label for="journal-search-near" class="sr-only"></label>
            <button type="button" id="journal-search-near" class="transparent-button"><i
                        class="fa fa-location-arrow fa-2x"></i></button>
        </div>
    </form>
</div>

<div id="past-journal-entries"></div>

</body>

<!-- Moment JS -->
<script src="/javascripts/moment.js"></script>
<script src="/javascripts/moment-timezone-10-20.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/javascripts/FormHandlers.js"></script>
<script src="/javascripts/JournalEntryList.js"></script>
<script>

    function expandMap() {
        $('#dashboard-map').css('height', '500px')
    }

    function shrinkMap() {
        $('#dashboard-map').css('height', '300px')
    }

    $(function () {


        $('#map-toggle-down').click(() => {
            expandMap()
            map.resize();
            $('.map-toggle').toggle();
        });

        $('#map-toggle-up').click(() => {
            shrinkMap()
            map.resize();
            $('.map-toggle').toggle();
        });

        let entryList;

        // Submit the form in the background
        submitWithGeo('#nearby-journal-entry-form', '/journal/entriesNearPoint', (responseData, formData, formElem) => {

            // TODO: testing
            console.log(responseData);

            if (responseData['success'] === true) {
                //document.getElementById('journal-entry-form').reset();
            } else {
                console.log(responseData);
                alert('There was an error adding the journal entry');
            }
        });

        let searchText = $('#journal-search-text');

        // Load past journal entries
        $.ajax({
            type: "get",
            url: "/journal/getEntries",
            dataType: "json",
            success: function (responseData, textResponse, jqXHR) {

                console.log(responseData);

                if (responseData['success'] === true) {

                    entryList = new JournalEntryList("past-journal-entries", responseData['payload']);

                    entryList.sort();
                    entryList.display();

                    // Search for keywords
                    $('#journal-search-text').keyup(() => {
                        entryList.filter(searchText.val());
                        entryList.display();
                    })

                    // Find nearby entries
                    $('#journal-search-near').click(() => {
                        entryList.filterNear(30);
                    });


                } else {
                    console.log("There was a problem loading your journal entries")
                }
            }
        });

        // Submit the form in the background
        submitWithGeo('#journal-entry-form', '/journal/add', (responseData, formData, formElem) => {
            if (responseData['success'] === true) {

                map.getSource('journals').setData('/journal/geoJSONEntries');

                document.getElementById('journal-entry-form').reset();

                let entry = {};

                entry['timestamp'] = responseData['timestamp'];

                // Add proper form fields
                formData.forEach((field) => {
                    entry[field['name']] = field['value'];
                });

                entry.pos = {
                    type: "Point",
                    coordinates: [entry.longitude, entry.latitude]
                }

                // TODO: Debugging
                console.log(entry);

                entryList.entries.push(entry);

                entryList.sort();
                entryList.display();

                // Add the journal entry to the page
            } else {
                console.log(responseData);
                alert('There was an error adding the journal entry');
            }
        });

        // Submit the mood form in the background
        submitWithGeo('#mood-entry-form', '/moods/add', (responseData, formData, formElem) => {
            if (responseData['success'] === true) {
                document.getElementById('mood-entry-form').reset();
            } else {
                alert('There was an error adding the mood entry');
            }
        });
    });


    function updateMood(id) {
        document.getElementById("mood-entry-input").value = id;
        console.log("mood updated to " + document.getElementById("mood-entry-input").value);
    }

    // Load past mood entries
    $.ajax({
        type: "get",
        url: "/moods/getEntries",
        dataType: "json",
        success: function (responseData, textResponse, jqXHR) {

            console.log(responseData);

            return 0;

            if (responseData['success'] === true) {
                console.log(responseData);
            } else {
                console.log("There was a problem loading your journal entries")
            }
        }
    });

</script>
</html>