<!DOCTYPE html>
<html>
<head>
    <title>Dashboard - <%= username %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous" type="text/javascript"></script>


    <link href="/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" type="text/css">

    <link href="/stylesheets/dashboard.css" rel="stylesheet" type="text/css">

</head>
<body>

<% include partials/nav.ejs %>

<form id="journal-entry-form">
    <div class="form-group">
        <label class="sr-only" for="journal-entry-input">Journal</label>
        <textarea name="journalEntry" class="form-control" id="journal-entry-input" form="journal-entry-form"
                  placeholder="Dear Journal..." required></textarea>
    </div>

    <button type="submit" id="journal-submit-button" class=""><i class="fa fa-paper-plane-o fa-lg"></i></button>
</form>

<form id="journal-search-bar" class="form-inline">
    <div class="form-group">
        <label for="journal-search-text" class="sr-only">Search</label>
        <input type="text" name="search-text" id="journal-search-text" class="form-control journal-search-input">
    </div>

    <div class="form-group">
        <label for="journal-search-near" class="">Near Me</label>
        <input type="checkbox" name="near-me" id="journal-search-near" class="form-control journal-search-input">
    </div>
</form>


<div id="past-journal-entries"></div>

</body>

<!-- Moment JS -->
<script src="/javascripts/moment.js"></script>
<script src="/javascripts/moment-timezone-10-20.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/javascripts/FormHandlers.js"></script>
<script src="/javascripts/JournalEntryList.js"></script>
<script>

    $(function () {
        // Submit the form in the background
        submitWithGeo('#journal-entry-form', '/journal/add', (responseData, formData, formElem) => {
            if (responseData['success'] === true) {
                document.getElementById('journal-entry-form').reset();
            } else {
                console.log(responseData);
                alert('There was an error adding the journal entry');
            }
        });

        // Submit the form in the background
        submitWithGeo('#nearby-journal-entry-form', '/journal/entriesNearPoint', (responseData, formData, formElem) => {

            // TODO: testing
            console.log(responseData);

            if (responseData['success'] === true) {
                //document.getElementById('journal-entry-form').reset();
            } else {
                console.log(responseData);
                alert('There was an error adding the journal entry');
            }
        });

        let searchText = $('#journal-search-text');

        // Load past journal entries
        $.ajax({
            type: "get",
            url: "/journal/getEntries",
            dataType: "json",
            success: function (responseData, textResponse, jqXHR) {

                console.log(responseData);

                if (responseData['success'] === true) {

                    let entryList = new JournalEntryList("past-journal-entries", responseData['payload']);

                    entryList.sort();
                    entryList.display();

                    let f = $("#journal-search-bar");

                    $('#journal-search-text').keyup(() => {
                        entryList.search(f.serializeArray());
                        entryList.display();
                    })

                    $('#journal-search-near').change(() => {
                        entryList.search(f.serializeArray());
                        entryList.display();
                    });


                } else {
                    console.log("There was a problem loading your journal entries")
                }
            }
        });
    });


</script>
</html>