<!DOCTYPE html>
<html>
<head>
    <title>Glimpse</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

<% include layout.ejs %>

<div style="text-align: center">
    <h1></h1><img class="usher-img" src="/images/usherbackground.png"/>
    <h2><a href="/qrcode">Usher QR Code Login</a></h2>

    <div class="fb-login-button" data-show-faces="true" data-width="200" data-max-rows="1">Login w/ Facebook</div>

    <div id="status"></div>
</div>

<body>

<script>

    window.fbAsyncInit = function() {
        FB.init({
            appId      : '643524489369797',
            xfbml      : true,
            version    : 'v2.10'
        });
        FB.AppEvents.logPageView();
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;

        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function statusChangeCallback(response) {
        if (response.status === 'connected') {
            // Logged in
            loggedIn();
        } else {
            document.getElementById('status').innerHTML = 'Please log ' +
                'into this app.';
        }
    }


    FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
    });

    function loggedIn() {
        FB.api('/me', function(response) {
            console.log('Successful login for: ' + response.name);
            document.getElementById('status').innerHTML =
                'Thanks for logging in, ' + response.name + '!';
        });
    }
</script>

<div style="text-align: center">
    <h1>Glimpse</h1>
</div>

<% if (locals.username) { %>

<p>Welcome to your dashboard</p>

<% } else { %>

<div style="text-align: center">
    <form action="/user/login" method="post" id="login-form">

        <label for="login-username-input"></label>
        <input type='text' name='username' placeholder='Username' id="login-username-input" required>
        <br/>
        <br/>
        <label for="login-password-input"></label>
        <input type='password' name='password' placeholder='Password' id="login-password-input" required>
        <br/>
        <br/>
        <button type="submit">Login</button>
        <br/>
        <br/>
    </form>
</div>

<div style="text-align: center">
    <form action='/user/add' method='post' id="add-user-form">

        <label for="add-user-firstname-input"></label>
        <input type='text' name='firstname' placeholder='First Name' id="add-user-firstname-input">

        <label for="add-user-lastname-input"></label>
        <input type='text' name='lastname' placeholder='Last Name' id="add-user-lastname-input">
        <br/>
        <br/>
        <label for="add-user-username-input"></label>
        <input type='text' name='username' placeholder='Username' id="add-user-username-input" required>
        <br/>
        <br/>
        <label for="add-user-password-input"></label>
        <input type='password' name='password' placeholder='Password' id="add-user-password-input" required>
        <br/>
        <br/>
        <label for="add-user-email-input"></label>
        <input type="email" name="email" placeholder="your@email.com" id="add-user-email-input" required>
        <br/>
        <br/>
        <button type='submit'>Add</button>
        <br/>
        <br/>
    </form>
</div>
<% } %>

<div style="text-align: center">
    <div
            class="fb-like"
            data-share="true"
            data-width="450"
            data-show-faces="true">
    </div>
</div>

</body>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/javascripts/FormHandlers.js"></script>

<% if (!locals.username) { %>
<script>
    // Submit the form in the background
    submitInBackground('#add-user-form', '/user/add', (responseData, formData, formElem) => {
        if (responseData['success'] === true) {
            document.getElementById('add-user-form').reset();
        } else {
            console.log(responseData);
            alert('There was an error adding the user');
        }
    });

    // Submit the form in the background
    submitInBackground('#update-user-email-form', '/user/update/email', (responseData, formData, formElem) => {
        if (responseData['success'] === true) {
            document.getElementById('update-user-email-form').reset();
        } else {
            console.log(responseData);
            alert('There was an error updating the email');
        }
    });
</script>

<% } %>
</html>
