<!DOCTYPE html>
<html>
<style>
    body  {
        background-image: url('images/background.jpeg');
        background-color: #cccccc;
    }

    .form-style-6{
      font: 95% Arial, Helvetica, sans-serif;
      max-width: 400px;
      margin: 10px auto;
      padding: 16px;  background-color: rgba(255, 0, 0, 0.4);
    }

    .form-style-6 h1{
        background: #43D1AF;
        padding: 20px 0;
        font-size: 140%;
        font-weight: 300;
        text-align: center;
        color: #fff;
        margin: -16px -16px 16px -16px;
    }
    .form-style-6 input[type="text"],
    .form-style-6 input[type="date"],
    .form-style-6 input[type="datetime"],
    .form-style-6 input[type="email"],
    .form-style-6 input[type="number"],
    .form-style-6 input[type="search"],
    .form-style-6 input[type="time"],
    .form-style-6 input[type="url"],
    .form-style-6 textarea,
    .form-style-6 select
    {
        -webkit-transition: all 0.30s ease-in-out;
        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        outline: none;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
        background: #fff;
        margin-bottom: 4%;
        border: 1px solid #ccc;
        padding: 3%;
        color: #555;
        font: 95% Arial, Helvetica, sans-serif;
    }
    .form-style-6 input[type="text"]:focus,
    .form-style-6 input[type="date"]:focus,
    .form-style-6 input[type="datetime"]:focus,
    .form-style-6 input[type="email"]:focus,
    .form-style-6 input[type="number"]:focus,
    .form-style-6 input[type="search"]:focus,
    .form-style-6 input[type="time"]:focus,
    .form-style-6 input[type="url"]:focus,
    .form-style-6 textarea:focus,
    .form-style-6 select:focus
    {
        box-shadow: 0 0 5px #43D1AF;
        padding: 3%;
        border: 1px solid #43D1AF;
    }

    .form-style-6 input[type="submit"],
    .form-style-6 input[type="button"]{
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
        padding: 3%;
        background: #43D1AF;
        border-bottom: 2px solid #30C29E;
        border-top-style: none;
        border-right-style: none;
        border-left-style: none;
        color: #fff;
    }
    .form-style-6 input[type="submit"]:hover,
    .form-style-6 input[type="button"]:hover{
        background: #2EBC99;
    }
</style>

<head>
    <title>Glimpse</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div style="text-align: center">
    <div class="fb-login-button" data-show-faces="true" data-width="200" data-max-rows="1">Login w/Facebook</div>
    </div>
    <div id="status">
</div>

<body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script>

    window.fbAsyncInit = function() {
        FB.init({
            appId      : '643524489369797',
            xfbml      : true,
            version    : 'v2.10'
        });
        FB.AppEvents.logPageView();

        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;

        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function statusChangeCallback(response) {
        if (response.status === 'connected') {
            // Logged in
            loggedIn();
        } else {
            document.getElementById('status').innerHTML = 'Please log ' +
                'into this app.';
        }
    }


    function loggedIn() {
        FB.api('/me', function(response) {
            console.log('Successful login for: ' + response.name);
            document.getElementById('status').innerHTML =
                'Thanks for logging in, ' + response.name + '!';
        });
    }
</script>

<div style="text-align: center">
    <h1>Welcome to Glimpse</h1>
</div>


<% if (locals.username) { %>

<p>Welcome to your dashboard</p>

<% } else { %>

<div class="form-style-6">
    <form action="/user/login" method="post" id="login-form">

        <label for="login-username-input"></label>
        <input type='text' name='username' placeholder='Enter Username' id="login-username-input" required>
        <br/>
        <br/>
        <label for="login-password-input"></label>
        <input type='password' name='password' placeholder='Enter Password...' id="login-password-input" required>
        <br/>
        <br/>
        <button type="button" class="btn btn-warning">Login</button>
        <br/>
        <br/>
    </form>
</div>

<div class="form-style-6">
    <form action='/user/add' method='post' id="add-user-form">

        <label for="add-user-firstname-input"></label>
        <input type='text' name='firstname' placeholder='Enter First Name...' id="add-user-firstname-input">

        <label for="add-user-lastname-input"></label>
        <input type='text' name='lastname' placeholder='Enter Last Name...' id="add-user-lastname-input">
        <br/>
        <br/>
        <label for="add-user-username-input"></label>
        <input type='text' name='username' placeholder='Enter Username.' id="add-user-username-input" required>
        <br/>
        <br/>
        <label for="add-user-password-input"></label>
        <input type='password' name='password' placeholder='Enter Password...' id="add-user-password-input" required>
        <br/>
        <br/>
        <label for="add-user-email-input"></label>
        <input type="email" name="email" placeholder="Enter Your Email" id="add-user-email-input" required>
        <br/>
        <br/>
        <button type="button" class="btn btn-warning">Add</button>
        <br/>
        <br/>

    </form>
</div>
<% } %>

<div style="text-align: center">
    <div
            class="fb-like"
            data-share="true"
            data-width="450"
            data-show-faces="true">
    </div>
</div>

</body>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/javascripts/FormHandlers.js"></script>

<% if (!locals.username) { %>
<script>
    // Submit the form in the background
    submitInBackground('#add-user-form', '/user/add', (responseData, formData, formElem) => {
        if (responseData['success'] === true) {
            document.getElementById('add-user-form').reset();
        } else {
            console.log(responseData);
            alert('There was an error adding the user');
        }
    });

    // Submit the form in the background
    submitInBackground('#update-user-email-form', '/user/update/email', (responseData, formData, formElem) => {
        if (responseData['success'] === true) {
            document.getElementById('update-user-email-form').reset();
        } else {
            console.log(responseData);
            alert('There was an error updating the email');
        }
    });
</script>

<% } %>
</html>
