<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '643524489369797',
            xfbml      : true,
            version    : 'v2.10'
        });
        FB.AppEvents.logPageView();
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>


<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<% if (locals.username) { %>

<p>Welcome to your dashboard</p>

<% } else { %>
<form action="/users/login" method="post" id="login-form">


    <label for="login-username-input"></label>
    <input type='text' name='username' placeholder='username...' id="login-username-input" required>

    <label for="login-password-input"></label>
    <input type='password' name='password' placeholder='password...' id="login-password-input" required>

    <button type="submit">Login</button>
</form>

<form action='/users/add' method='post' id="add-user-form">

    <label for="add-user-firstname-input"></label>
    <input type='text' name='firstname' placeholder='first name...' id="add-user-firstname-input">

    <label for="add-user-lastname-input"></label>
    <input type='text' name='lastname' placeholder='last name...' id="add-user-lastname-input">

    <label for="add-user-username-input"></label>
    <input type='text' name='username' placeholder='username...' id="add-user-username-input" required>

    <label for="add-user-password-input"></label>
    <input type='password' name='password' placeholder='password...' id="add-user-password-input" required>

    <label for="add-user-email-input"></label>
    <input type="email" name="email" placeholder="your@email.com" id="add-user-email-input" required>

    <button type='submit'>Add</button>
</form>
<% } %>

<div
        class="fb-like"
        data-share="true"
        data-width="450"
        data-show-faces="true">
</div>

</body>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/javascripts/FormHandlers.js"></script>

<% if (!locals.username) { %>
<script>

    // Submit the form in the background
    submitInBackground('#add-user-form', '/users/add', (responseData, formData, formElem) => {
        if (responseData['success'] === true) {
            document.getElementById('add-user-form').reset();
        } else {
            console.log(responseData);
            alert('There was an error adding the user');
        }
    });

    // Submit the form in the background
    submitInBackground('#update-user-email-form', '/users/update/email', (responseData, formData, formElem) => {
        if (responseData['success'] === true) {
            document.getElementById('update-user-email-form').reset();
        } else {
            console.log(responseData);
            alert('There was an error updating the email');
        }
    });
</script>

<% } %>
</html>
