#journal-entry-input {
    height: 150px;

    font-size: 24px;

    background: transparent;

    border-width: 0 0 2px 0;
    border-radius: 0;
    resize: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#journal-submit-button {
    background: transparent;
    border: none;
    margin: auto;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.transparent-button {
    background: transparent;
    border: none;
    margin: auto;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

button:focus {
    outline: none;
}

.search-result-container {
    padding-top: 15px;
    border-bottom: 2px solid rgb(206, 212, 218);
}

.search-result-container:hover {
    border-color: #80bdfd;
}

.search-result-text {
    font-size: 1.1em;
}

.search-result-info {
    text-align: right;
    font-size: 14px;
}

#mood-entry-form {
    position: absolute;
    top: 5px;
    left: 5px;
}

#journal-search-bar {
    width: 25%;
    margin: auto;
}

#journal-search-bar-container {
    margin: 25px 0;
}

#dashboard-map {
    width: 100%;
    height: 300px;

    margin: 30px 0;
}

.map-toggle {
    float: right;
}